.board {
  display: grid;
  grid-template-columns: repeat(8, 64px);
  grid-template-rows: repeat(8, 64px);
  image-rendering: pixelated;

  & > div {
    background: #ddd;
    line-height: 64px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;

    &.dark {
      background: #666;
    }
  }
}
